<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.okay.phonegap.ImgDownloader" version="1.0">
    <name>ImgDownloader</name>
    <description>This plugin download image to SD Card Pictures folder.</description>
    <license>MIT License</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <keywords>gallery,download,image,picture,file</keywords>
    <js-module src="www/imgdownloader.js" name="ImgDownloader">
        <clobbers target="clipboard" />
    </js-module>
    
    <!-- android -->
    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="ImgDownloader">
                <param name="android-package" value="com.okay.phonegap.ImgDownloader" />
            </feature>
        </config-file>
        
        <!-- cordova plugin src files -->
        <source-file src="src/android/ImgDownloader.java" target-dir="src/com/okay/phonegap/ImgDownloader" />
    </platform>
</plugin>
